@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway&display=swap');

.text-left {
    text-align: left !important;
    margin-left: 35px;
    font-family: 'Raleway', sans-serif;
}